# fly.toml file generated for flyisbad on 2023-04-05T19:41:36+03:00

app = "flyisbad"
kill_signal = "SIGINT"
kill_timeout = 50
primary_region = "ams"

[build]
  [build.args]
    NODE_VERSION = "16.20.0"

[deploy]
  release_command = "npm run build"

[env]
  PORT = "8080"

[processes]
  app = "node app.js"

[[services]]
  protocol = "tcp"
  internal_port = 8080
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20
  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"
  [[services.http_checks]]
    interval = 10000
    grace_period = "5s"
    method = "get"
    path = "/health"
    protocol = "http"
    restart_limit = 0
    timeout = 2000
    tls_skip_verify = false
  [[services.script_checks]]
    command       = "bash /app/health_check.sh"
    grace_period  = "1s"
    interval      = "5s"
    restart_limit = 0
    timeout       = "1s"
